<html>
<head>
    <title>Vue.js-based Calculator</title>
    <link rel="stylesheet" type="text/css" href="calculator.css">
</head>
<body>
    <div id="calculator">

      <div class="calculator-logs">
        <span v-for="log in logs">{{ log }}</span>
      </div>

      <input type="string" class="calculator-input" v-model="value" @keyup.enter="doMath()">

      <div class="calculator-row">
        <div class="calculator-col wide">
          <button class="calculator-btn gray action" @click="clear()">C</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn gray action" @click="del()">&#8592;</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn accent action" @click="buttonPressed('/')">/</button>
        </div>
      </div>
      <div class="calculator-row">
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(7)">7</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(8)">8</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(9)">9</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn accent action" @click="buttonPressed('*')">*</button>
        </div>
      </div>
      <div class="calculator-row">
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(4)">4</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(5)">5</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(6)">6</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn accent action" @click="buttonPressed('-')">-</button>
        </div>
      </div>
      <div class="calculator-row">
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(1)">1</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(2)">2</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn" @click="buttonPressed(3)">3</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn accent action" @click="buttonPressed('+')">+</button>
        </div>
      </div>
      <div class="calculator-row">
        <div class="calculator-col wide">
          <button class="calculator-btn" @click="buttonPressed(0)">0</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn action" @click="buttonPressed('.')">.</button>
        </div>
        <div class="calculator-col">
          <button class="calculator-btn accent action" @click="doMath()">=</button>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
    new Vue({
        el: '#calculator',
        data: {
            value: 0,
            logs:  []
        },
        methods: {
            clear() {
                this.value = 0;
            },
            del() {
                this.value = this.value.slice(0, -1);
            },
            buttonPressed(e) {
                if ( Number.isInteger(this.value) )
                  this.value = '';
                this.value += e;
            },
            doMath() {
                let log = `${this.value}`;
                this.value = eval(this.value);
                this.logs.push( log + `=${this.value}` );
            }
        }
    })
    </script>
</body>
